/*Style sheet for the webpage practice project */

.navBar {
  display: flex;
  background-color: red;
  height: fit-content;
  width: auto;
}

.navElement {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: red;
  padding: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
.navElement a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: inherit;
  padding: 10px;
}

.navElement a:hover {
  text-decoration: underline;
  color: inherit;
}

#currentPage {
  background-color: white;
  color: red;
}
